* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color_primary: #fff;
  --background-color_secondary: #f9fafa;
  --hover-background: #f0f0f0;
  --text-color: #555f62;
  --text-color-secondary: #000;
  --button-color: #3240e5;
  --hover-element: #3295ce;
  --link-color: #182cc0;
  --border-color: #e1e4e5;
  --border-color_secondary: #eef1f1;
  --default-font-weight: 500;
}
foo body {
  font-family: TBCX, sans-serif;
  background-color: var(--background-color_primary);
  letter-spacing: 0.8px;
  font-weight: var(--default-font-weight);
  max-width: 100vw;
}

section {
  max-width: 1200px;
  margin: auto 40px;
}

section:not(:first-of-type) {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  position: relative;
}

.cards {
  display: grid;
  grid-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;

  grid-auto-columns: 1fr;
}

.card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.3s ease;
  min-height: 256px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  background-color: #000;
  opacity: 0.7;
  transition: transform 0.3s ease;
}

.first-card::before {
  background-image: url("./assets/set-1.png");
}

.second-card::before {
  background-image: url("./assets/set-3.png");
}

.card-btn a:hover .card-btn::before {
  filter: invert(0.9) sepia(1) saturate(5) hue-rotate(0deg);
}

.second-card {
  grid-area: 1 / 2 / span 2 / 3;
}

.third-card::before {
  background-image: url("./assets/set-2.png");
}

.card:hover::before {
  transform: scale(1.1);
}

.card-content {
  position: relative;
  z-index: 1;
  padding: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: auto;
  height: 100%;
  color: var(--background-color_primary);
}

.card-content a {
  color: var(--background-color_primary);
}

.card-btn {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card-btn a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 6px;
}

.card-btn a:hover {
  color: #aeaeae;
}

.card-btn img {
  margin-right: 6px;
}

.banner-message .message-text {
  color: #141719;
  font-size: 32px;
  line-height: 1.5;
}

.card-btn a:hover .arrow-icon {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(80%)
    contrast(100%);
}

.arrow-icon {
  margin-left: 6px;
  transition: filter 0.3s ease;
}

.logo {
  display: inline-block;
  width: 36px;
}

.logo,
a {
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}
.logo-link {
  display: flex;
  gap: 5px;
}

.header-list {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 32px;
}

.header-list .toggle-lang,
.show-lang {
  font-weight: 600;
}

.logo-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 7px;
}

.header {
  max-width: 1200px;
  position: sticky;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.header-container.active {
  background-color: var(--background-color_secondary);
  width: 100%;
}

.header-container {
  background-color: var(--background-color_primary);
}

.container {
  min-height: 100vh;
  background-color: var(--background-color_secondary);
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.navbar li a {
  display: inline-block;
  letter-spacing: 0.8px;
}

.follow-link {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 10px;
  color: var(--link-color);
  font-weight: 700;
}

.follow-link:hover .arrow-icon {
  filter: invert(45%) sepia(100%) saturate(7500%) hue-rotate(179deg)
    brightness(108%) contrast(102%);
}

.follow-link .arrow-icon {
  transition: filter 0.3s ease-in-out;
}

.follow-channel:hover,
.right-arrow:hover {
  transition: color 0.25s ease-in-out;
}
.follow-list a:hover,
.follow-link:hover {
  color: var(--hover-element);
}

.follow-link img {
  fill: var(--link-color);
  color: #001682;
}

.follow-list .right-arrow path,
.follow-link .right-arrow path {
  transition: fill 0.3s ease;
}

.follow-list:hover .right-arrow path,
.search-item:hover .right-arrow path,
.follow-link:hover .right-arrow path {
  fill: var(--hover-element);
}

.follow-channel {
  display: flex;
  color: var(--link-color);
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.follow-channel:hover,
.right-arrow:hover {
  transition: color 0.25s ease-in-out;
}

.follow-list a:hover {
  color: var(--hover-element);
}

.follow-list .icon path {
  transition: fill 0.3s ease;
}

.follow-list:hover .icon path,
.search-item:hover .icon path {
  fill: var(--hover-element);
}

.toggle-lang,
.show-lang {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-items: center;
  padding: 8px 6px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, background 0.3s ease;
  border-radius: 5px;
}

.toggle-lang:hover,
.show-lang:hover {
  cursor: pointer;
  background-color: var(--hover-background);
}

.lang-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.relative {
  position: relative;
}

.switch-eng {
  background-color: #fff;
  border: 1px solid #e0dfdf;
  border-radius: 5px;
  padding: 5px 0px;
  position: absolute;
  display: none;
  top: 40px;
  right: 0;
  font-weight: 400;
}

.switch-eng:hover .eng-link {
  background-color: var(--hover-background);
}

.toggle-lang:hover .switch-eng,
.show-lang:hover .switch-eng {
  display: block;
}

.switch-eng a {
  color: var(--text-color-secondary);
}

.eng-link {
  display: block;
  height: max-content;
  padding: 8px 19px;
  text-align: center;
}

.toggle-lang:hover .switch-eng,
.show-lang:hover .switch-eng {
  display: block;
}

.cropped-logo {
  display: none;
}

.menu-btn,
.close-btn {
  position: relative;
  z-index: 1000;
}

.menu-btn {
  grid-row-gap: 5px;
  cursor: pointer;
  background-color: var(--background-color_primary);
  transition: transform 0.6s ease, background-color 0.6s ease;
  display: none;
}

.menu-btn .bar {
  display: block;
  height: 2px;
  border-radius: 1px;
  background-color: var(--text-color);
  transition: background-color 0.6s ease, transform 0.6s ease;
}

.menu-btn .top-bar {
  width: 11px;
}

.menu-btn .middle-bar,
.icon {
  width: 20px;
}

.menu-btn .bottom-bar {
  width: 15px;
}

.close-btn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--background-color_primary);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 1px;
  transition: transform 0.3s ease;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.menu-btn.open .top-bar {
  transform: translateY(5px) rotate(45deg);
  width: 20px;
}

.menu-btn.open .middle-bar {
  opacity: 0;
}

.menu-btn.open .bottom-bar {
  transform: translateY(-9px) rotate(-45deg);
  width: 20px;
}

.hidden {
  display: none;
}

.navbar li a {
  display: inline-block;
  letter-spacing: 0.8px;
}

.right-arrow {
  width: 16px;
}

.toggle-lang,
.show-lang {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-items: center;
  padding: 8px 6px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.toggle-lang:hover,
.show-lang:hover {
  cursor: pointer;
  background-color: var(--hover-background);
}

.lang-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.relative {
  position: relative;
}

.follow-btn {
  background: linear-gradient(15deg, #001682, #3240e5);
  background-color: var(--button-color);
  border-radius: 4px;
  padding: 16px 24px;
  font-weight: 700;
  border: none;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.follow-btn a {
  display: flex;
  gap: 5px;
  color: var(--background-color_primary);
}

.follow-btn:hover {
  cursor: pointer;
  background-color: var(--hover-element);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  background-image: none;
}

/* Custom styles */

h1,
h2,
h3 {
  font-size: 24px;
}

h2 {
  margin-bottom: 32px;
}

li {
  list-style: none;
  text-decoration: none;
}

.follow-channel,
.article-content .award-paragraph,
.products .article-content p,
.digital-bank_content p {
  font-size: 14px;
}

.main,
.follow-btn,
.article-content p,
.download-app .download-btn,
.app-store {
  font-size: 12px;
}

.container-background {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px;
  margin: 32px 40px 60px;
  color: var(--background-color_primary);
  background-position: center;
  background-size: cover;
  min-height: 360px;
}

.container-background h2 {
  font-weight: 600;
  margin-bottom: 0;
}

.container-background .content {
  letter-spacing: 1.2px;
  width: 80%;
  gap: 25px;
  max-width: auto;
}

.container-background::before,
.article-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.container-background::before {
  background-color: #000;
  opacity: 0.3;
  border-radius: 5px;
}

.intro-content {
  max-width: 450px;
}

.intro {
  background-image: url("https://static.tbcconcept.ge/desktop/media/ze324k50.yq4Become-2.webp");
}

.intro p {
  margin-top: 16px;
  margin-bottom: 24px;
  line-height: 1.7;
  font-weight: 300;
}

.banker-section {
  background-image: url("https://static.tbcconcept.ge/desktop/media/nvmgsymp.3xqprivate%20banker.png");
  position: relative;
}

.banker-section_text {
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
  z-index: 2;
}

.main {
  padding: 24px 0;
}

.statistics-container {
  display: flex;
  gap: 30px;
}

.statistics-container .box {
  flex: 1;
  padding: 48px 40px;
  background-color: var(--background-color_primary);
  line-height: 1.3;
}

.statistics-container .box p {
  color: var(--text-color);
}

.box .number {
  margin-bottom: 16px;
  font-size: 44px;
  font-weight: 700;
}

.offer-heading {
  display: flex;
  justify-content: space-between;
}

.img-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.achievements-section .img-wrapper img {
  height: 52px;
  width: auto;
}

.img-wrapper:hover {
  position: relative;
  background-color: var(--background-color_primary);
  cursor: pointer;
  box-shadow: 0 36px 20px -15px rgba(12, 43, 67, 0.1);
}

.img-wrapper:hover .image-item {
  position: relative;
  top: -2px;
}

.slider-wrapper .image-list {
  cursor: grab;
  overflow-x: auto;
  overflow: auto;
  scrollbar-width: none;
  width: auto;
  height: 100%;
  padding-bottom: 38px;
}

.offer-section .image-list,
.achievements-section .image-list {
  display: grid;
  column-gap: 30px;
}

.offer-section .image-list {
  grid-template-columns: repeat(5, 1fr);
}

.achievements-section .image-list {
  grid-template-columns: repeat(4, 1fr);
}

.products .slider-wrapper .image-list {
  display: flex;
  gap: 30px;
}

.products .img-wrapper {
  min-width: 350px;
}

.products .img-wrapper img {
  max-height: 197px;
  height: min-content;
  object-fit: fill;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  transition: transform 0.25s ease-in-out;
}

.slider-controls {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}

.slider-controls .scrollbar {
  height: 2px;
  width: 100%;
  background-color: var(--border-color);
  position: relative;
}

.slider-controls .scrollbar-thumb {
  position: absolute;
  height: 2px;
  width: 33%;
  background: var(--button-color);
  border-radius: inherit;
  cursor: grab;
}

.slider-controls .scrollbar-thumb:active {
  cursor: grabbing;
}

.slider-controls .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.scrollbar-arrow {
  display: flex;
  gap: 20px;
}

.company-logo {
  max-height: 56px;
}

.company-logo,
.tegeta-logo {
  position: absolute;
  top: 16px;
  right: 0;
  width: 78px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tegeta-logo {
  background-color: var(--background-color_primary);
  height: 56px;
  text-align: center;
  z-index: 10;
}

.tegeta-logo .company-logo {
  top: auto;
  width: 100%;
  max-height: 100%;
  margin: auto;
}

.image-item {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}

.article-content {
  padding: 28px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.award-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 400px;
}

.award-content {
  width: 80%;
  padding: 0;
}

.service-link:hover {
  color: var(--link-color);
  cursor: pointer;
  /* background-color: rebeccapurple; */
}

.award-content h3 {
  margin-bottom: 24px;
}

.award-card {
  padding: 28px;
}

.article-content p {
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 600;
}

.article-content .award-paragraph {
  margin-bottom: 0;
}

.products .article-content,
.achievements-section .article-content {
  line-height: 1.7;
}

.products .article-content h3 {
  margin-bottom: 16px;
}

.products .article-content p {
  height: 95px;
  overflow: hidden;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  font-weight: 300;
}

.products .image-item {
  width: 100%;
  height: auto;
}

.article-title {
  font-size: 16px;
}

.article-subitems {
  display: flex;
}

.article-subitems p {
  margin-right: 12px;
}

.article-subitems p:last-child {
  margin-right: 0;
}

.slide {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.slide-btns {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.prev,
.next {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.view-more {
  display: inline-block;
  z-index: 2;
}

.fa-chevron-left {
  font-size: 8px;
}

.element-main {
  display: flex;
  align-items: center;
  gap: 10px;
}

.element-main span {
  display: none;
}

.digital-bank {
  position: relative;
}

.digital-bank_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 55%;
}

.digital-bank_content p {
  color: var(--text-color);
  width: 85%;
  line-height: 1.5;
}

.container-fluid .digital-bank {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 374px;
  overflow: hidden;
  z-index: 1;
  background-color: var(--background-color_primary);
}

.container-fluid .digital-bank::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100vw;
  height: 374px;
  background-color: var(--background-color_primary);
  z-index: 0;
}

.mobile {
  max-width: 370px;
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.mobile img {
  max-width: 80%;
  max-height: 90%;
  background-position: right;
}

.apps {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.app .app-layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto);
  column-gap: 8px;
  align-items: center;
  padding: 19px 23px;
  transition: background-color 0.3s ease-in-out;
}

.app a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  position: relative;
  padding: 10.5px 32px;
  border: 1px solid var(--border-color);
}

.download-app a {
  padding: 18px 32px;
  background-color: var(--background-color_secondary);
  border: 1px solid var(--button-color);
}

.download-app a:hover {
  border-color: var(--border-color);
}

.apps .download-app {
  display: none;
}

.download-app .download-btn {
  color: var(--button-color);
  text-transform: uppercase;
  font-weight: 600;
}

.fa-download {
  margin-right: 5px;
}

.container-background,
.statistics-container .box,
.slider-controls .scrollbar,
.app a {
  border-radius: 4px;
}

.app a:hover {
  background-color: var(--hover-background);
  transition: background-position 0.25s ease-in-out;
}

.android-text {
  position: absolute;
  top: 24%;
}

.android-text,
.apple-text {
  display: inline-block;
  font-size: 5px;
  letter-spacing: 0;
}

.apple-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.apple-text {
  grid-column: 2;
  grid-row: 1 / 2;
}

.app-store {
  grid-column: 2;
  grid-row: 2 / 3;
}

.app a span {
  color: var(--text-color-secondary);
}

.app-store {
  display: inline-block;
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.contact-list li:hover a {
  text-decoration: underline;
}

.contact-list li .contact-icon {
  margin-right: 10px;
}

.contact-list li .fa-map-marker-alt {
  margin-right: 15px;
}

footer {
  background-color: var(--background-color_primary);
}

.footer-section {
  max-width: 1200px;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: auto;
  padding: 60px;
}

.footer-section div {
  flex: 1;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bold-text {
  margin-bottom: 24px;
  font-weight: 600;
  display: inline-block;
  color: var(--text-color-secondary);
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--background-color_secondary);
  color: var(--text-color);
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.social-media i {
  width: 16;
  height: 17;
}

.social-media:hover {
  background-color: var(--hover-background);
  color: var(--button-color);
}

.social-media_channels {
  margin-top: 32px;
}

ul.social-media-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  list-style: none;
}

.copyright {
  padding-top: 28px;
  padding-bottom: 28px;
  /* background-color: var(--background-color_secondary); */
  border: 1px solid var(--border-color_secondary);
}

.copyright-layout {
  /* width: 1400px; */
  padding: 0 47px;
  font-size: 12px;
  color: var(--text-color);
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
  gap: 35px;
}

.rights {
  margin-left: 8px;
  display: inline-block;
}

.rights-text {
  display: flex;
  align-items: center;
}

.up {
  display: none;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container > nav {
  padding: 10px 20px;
  height: 60px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.header {
  position: sticky;
  left: 0;
  bottom: 0;
}

.modal-content {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 10px 10px 0 0;
  transition: bottom 0.4s ease-in-out;
  font-size: 16px;
  overflow: hidden;
}

.modal-content h4 {
  color: var(--text-color-secondary);
  font-size: 18px;
  margin: 10px 0;
}

.modal.show .modal-content {
  bottom: 0;
}

.modal-text {
  max-height: calc(80% - 64px);
  padding-right: 80px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 770px;
  padding: 48px 0;
  line-height: 1.5;
}

.modal-heading_container {
  padding: 32px 47px;
  border: 1px solid var(--hover-background);
}

.modal-heading {
  margin: auto;
  width: 770px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  color: var(--text-color-secondary);
}

.modal-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

.close-modal_btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  text-align: center;
  background-color: var(--border-color_secondary);
  transition: background-color 0.25s ease-in-out;
}

.close {
  font-size: 30px;
  cursor: pointer;
}

.close-modal_btn:hover,
.close-modal_btn:focus {
  background-color: var(--background-color_primary);
  text-decoration: none;
  cursor: pointer;
}

.rules-modal p {
  margin-bottom: 24px;
}

.rules-modal a {
  text-decoration: underline;
}

.rules-modal a:hover {
  text-decoration: none;
}

.dropdown {
  display: none;
}

.footer-logo_lang {
  display: flex;
  justify-content: space-between;
  padding: 45px 60px;
}

.footer-section {
  padding-top: 0;
}

@media (max-width: 1150px) {
  .header-list {
    gap: 10px;
    align-items: center;
    position: relative;
    top: -5px;
  }
  .header,
  section:not(:first-of-type) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .copyright {
    background-color: var(--background-color_secondary);
  }

  .copyright-layout {
    flex-direction: column-reverse;
    gap: 32px;
    font-size: 14px;
    padding: 0 45px;
  }
}

@media (max-width: 992px) {
  .header-list {
    gap: 15px;
    margin-top: 15px;
  }

  .header {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .header .logo-container {
    margin-right: auto;
  }

  .header-list .follow-list .follow-channel {
    gap: 6px;
  }

  .header-services .bold-text {
    font-size: 18px;
  }

  .header-services {
    padding: 0;
  }

  .navbar {
    display: none;
    position: absolute;
    margin-top: 30px;
    top: auto;
    left: 0;
    background-color: var(--background-color_primary);
    border: 1px solid #e0dfdf;
    border-radius: 5px;
    width: 100vw;
    padding: 25px;
    z-index: 1000;
    border: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navbar.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .statistics-container {
    flex-direction: column;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .toggle-lang .lang-link {
    display: none;
  }

  .right-arrow {
    width: 16px;
    height: 16px;
  }

  .container-background .content {
    width: 60%;
  }

  .hide-app {
    display: none;
  }

  .apps .download-app {
    display: block;
  }

  .digital-bank_content p {
    width: 100%;
  }

  .container-fluid .achievements-section {
    padding-left: 0;
    padding-right: 0;
  }

  .achievements-section .image-list {
    gap: 16px;
  }

  .footer-section {
    padding-left: 45px;
    padding-right: 45px;
  }

  .dropwodn-menu .bold-text {
    font-size: 18px;
  }

  .footer-section {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin: auto;
    padding: 0;
  }

  .footer-section .contact .contact-list {
    gap: 32px;
  }

  .services,
  .contact {
    padding: 36px 45px;
  }

  .services {
    border-bottom: 1px solid var(--border-color);
  }
  .services .services-list {
    display: none;
    max-height: 90px;
    gap: 32px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
  }

  .services-list.active {
    max-height: 500px;
  }

  .services .services-list.active {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .dropwodn-menu {
    flex: 0;
    display: flex;
    justify-content: space-between;
  }

  .services .dropdown {
    flex: 0;
    cursor: pointer;
  }

  .down {
    display: block;
  }

  .dropdown-icon {
    font-size: 20px;
    transition: opacity 0.3 ease;
  }

  .dropdown-icon.hide {
    opacity: 0;
  }

  .dropdown-icon.show {
    opacity: 1;
  }

  .dropdown {
    display: block;
  }

  .footer-logo_lang {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    overflow: auto;
    grid-column-gap: 16px;
    padding: 24px;
  }

  .card {
    flex: none;
    width: 280px;
  }

  .card-content {
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    transform: translate(-5%, 100%);
    margin-right: auto;
  }

  .card-content h3 {
    font-size: 16px;
  }

  .card-btn a {
    margin-left: 0;
    font-size: 14px;
  }

  .slide-btns {
    display: none;
  }

  .second-card {
    grid-area: 1;
  }

  .cropped-logo {
    display: block;
  }

  .layer_1 {
    display: none;
  }

  .header-list {
    gap: 10px;
  }

  .logo {
    width: 30px;
  }

  .toggle-lang,
  .show-lang {
    padding: 6px 4px;
  }

  .switch-eng {
    top: 50px;
    right: 0;
  }

  .eng-link {
    padding: 4px 10px;
  }

  section:not(:first-child) {
    padding: 40px 0;
  }

  .container-fluid .container-background,
  .banker-section {
    padding: 36px 45px;
  }

  .container-background .content {
    width: 100%;
    font-size: 14px;
    align-items: stretch;
    justify-content: flex-end;
  }

  .container-fluid .digital-bank {
    flex-direction: column-reverse;
    background-color: var(--background-color_primary);
    margin: 0;
    padding: 60px 45px 40px 45px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 28px;
  }

  .apps {
    width: 100%;
  }

  .app {
    width: 100%;
  }

  .digital-bank .content h2 {
    order: 2;
    position: absolute;
    top: -450px;
    transform: translateY();
  }

  .digital-bank_content {
    width: 100%;
  }

  .mobile {
    max-width: auto;
    max-height: initial;
    justify-content: flex-start;
  }

  .container-fluid .digital-bank::before {
    display: none;
  }

  .container-fluid .digital-bank {
    max-height: initial;
  }

  .award-card {
    max-width: 330px;
    min-width: 210px;
  }

  .award-content {
    width: 90%;
  }

  .bold-text {
    font-size: 24px;
  }

  .copyright-layout {
    gap: 32px;
    font-size: 14px;
    padding: 0 45px;
  }

  .btns {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .container-background {
    margin-left: 0;
    margin-right: 0;
  }

  .header,
  section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    justify-content: space-between;
  }

  .header-list .follow-list {
    flex-wrap: wrap;
    justify-self: end;
  }

  .header-list {
    justify-content: flex-end;
  }

  .header-list {
    gap: 8px;
  }

  .logo {
    width: 24px;
  }

  .toggle-lang,
  .show-lang {
    font-size: 12px;
  }

  .switch-eng {
    top: 40px;
  }

  .eng-link {
    padding: 2px 8px;
  }

  .container-fluid .container-background,
  .banker-section {
    padding: 15px 20px;
  }

  .container-fluid .container-background .intro-content {
    gap: 5px;
  }

  .message-text {
    font-size: 24px;
  }

  .card {
    width: 232px;
  }

  section:not(:first-child) {
    padding: 36px 0;
  }

  .main {
    padding: 16px 0;
  }

  .element-main span {
    display: inline-block;
  }

  .box .number {
    font-size: 34px;
  }

  .award-card {
    width: auto;
  }

  .copyright-layout,
  .services,
  .contact {
    padding: 32px 15px;
  }

  .footer-logo_lang {
    padding-left: 15px;
    padding-right: 15px;
  }
}
